@use "global" as *;

.blog {
  @include mq(md) {
    position: relative;
    padding-top: myrem(100);
  }
}

.blog::after {
  display: block;
  width: 100%;
  height: calc(100vw * calc(500 / 1440));
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url(../images/common/blog-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.blog__body {
  margin: myrem(24) auto 0;
  display: flex;
  flex-direction: column;
  gap: myrem(40);
  // margin-top: myrem(24);
  @include mq(md) {
    flex-direction: row;
    margin-top: myrem(80);
  }
}

.blog__card {
  width: 100%;
  max-width: myrem(600);
  margin: 0 auto;
  @include mq(md) {
    max-width: calc(calc(100% - myrem(80)) / 3);
    margin: 0;
  }
}

.blog__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: myrem(40);
  @include mq(md) {
    margin-top: myrem(80);
  }
}

.card {

}

.card__image {

}

