@use "global" as *;

.category-tag {
  display: inline-block;
  font-size: myrem(12);
  font-weight: $regular;
  letter-spacing: 0.05em;
  color: $green;
  border: myrem(1) solid $green;
  padding: myrem(4) myrem(12);
  @include mq(md) {
    padding: myrem(6) myrem(16);
  }
}