@use "global" as *;

.footer-layout {
  margin-top: myrem(104);
  @include mq(md) {
    margin-top: myrem(157);
  }
}

.footer-layout--nomargin {
  margin-top: 0;
  @include mq(md) {
    margin: 0;
  }
}