@use "global" as *;

.footer-nav {
  display: flex;
  gap: myrem(16);
  @include mq(md) {
    gap: myrem(120);
  }
}

.footer-nav__box {
  display: block;
  @include mq(md) {
    display: flex;
    gap: myrem(120);
  }
}

.footer-nav__items:nth-child(n+2) {
  margin-top: myrem(16);
  @include mq(md) {
    margin-top: 0;
  }
}

.footer-nav__item>a {
  position: relative;
  display: inline-block;
  font-size: myrem(16);
  font-weight: $bold;
  color: $white;
  padding-top: myrem(8);
  padding-bottom: myrem(8);
  padding-left: myrem(22);
}

.footer-nav__item:not(:first-child)>a {
  margin-top: myrem(16);
}

.footer-nav__item>a::before {
  content: "";
  display: block;
  width: myrem(18);
  height: myrem(18);
  background-image: url(../images/common/footer-title-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: myrem(15);
  left: 0;
}

.footer-nav__sub-items {
  padding-left: myrem(24);
}

.footer-nav__sub-item>a {
  display: inline-block;
  font-size: myrem(16);
  font-weight: $regular;
  color: $white;
  padding-top: myrem(10);
  padding-bottom: myrem(9);
}
