@use "global" as *;

.footer {
  background-color: $green;
  padding-top: myrem(48);
  padding-bottom: myrem(56);
}


.footer__logo {
  width: myrem(120);
  @include mq(md) {
    width: myrem(200);
  }
}

.footer__icons {
  display: flex;
  gap: myrem(19);
  margin-top: myrem(18);
  margin-left: myrem(2);
}

.footer__icon {
  width: myrem(20);
}

.footer__nav {
  margin-top: myrem(31);
}

.footer__copyright {
  margin-top: myrem(23);
  padding: 0 myrem(14);
  text-align: center;
}

.footer__copyright span {
  font-size: myrem(12);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $white;
}