@use "global" as *;

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__link {
  height: inherit;
  padding-left: min(1.3888888889vw, 1.25rem);
  padding-right: min(1.3888888889vw, 1.25rem);
}