@use "global" as *;

.price {
  background-color: $green2;
  padding: myrem(80) 0;
  @include mq(md) {
    padding: myrem(100) 0;
  }
}

.price__inner {

}

.price__title {
}


.price__body {
  display: flex;
  flex-direction: column;
  gap: myrem(40);
  margin-top: myrem(24);
  @include mq(md) {
    flex-direction: row-reverse;
    gap: myrem(90);
    margin-top: myrem(40);
  }
}

.price__image {
  aspect-ratio: 345 / 227;
  @include mq(md) {
    width: calc(calc(100% - myrem(90)) / 2);
  }
}

.price__image img {
  object-fit: cover;
}

.price__box {
  width: calc(calc(100% - myrem(90)) / 2);
}

.price__list:not(:first-child) {
  margin-top: myrem(40);
}

.price__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: myrem(40);
  @include mq(md) {
    margin-top: myrem(80);
  }
}